<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="my first flask blog">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="zambbo">
        <link rel="stylesheet", href="{{url_for('static',filename='style.css')}}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %} {% endblock %}
        </header>
        <div class="container">
            {% block main %} {% endblock %}
        </div>
        <footer>
            {% block footer %} {% endblock %}
        </footer>
    </body>
</html>